* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  margin: 20px;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#slides {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

#slides-container {
  grid-area: 1/1;
  display: grid;
}

#slides-container .slide-item {
  grid-area: 1/1;
  display: block;
  max-width: 100%;
  width: 100%;
  opacity: 0;
}

#slides-container .slide-item.active {
  opacity: 1;
}

#slides-controls {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;

}

#slides-controls>button {
  cursor: pointer;
}

#slides-time-bar {
  position: absolute;
  top: 8px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
  height: 8px;
  padding: 0 10px;
  pointer-events: none;
}

#slides-time-bar>span {
  flex: 1;
  background-color: #888;
  border-radius: 4px;
  overflow: hidden;
}

#slides-time-bar>span>span {
  display: block;
  transform: translateX(-101%);
  height: 100%;
  background-color: #fff;
}

#slides-time-bar>span>span.happen {
  animation: loadTimeBar linear running;
}

#slides-time-bar>span>span.paused {
  animation: loadTimeBar linear paused;
}

@keyframes loadTimeBar {
  to {
    transform: initial;
  }
}